body{
    background-color: #f7faff;
}

li{
    list-style: none;
}

.top-title{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ti-close {
    background-color: white;
    padding: 10px 15px;
    border: none;
}

.sidebar {
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 99;
    padding-bottom: 50px;
    position: fixed;
    width: 350px;
    z-index: 999;
    overflow: hidden;
    overflow-y: auto;
    transition: .5s;
}

@media (max-width: 991px) {
    .sidebars {
        left: -280px;
        transition: .5s;
        top: 0;
        width: 280px;
        background: #fff;
    }
}

@media (max-width: 991px){
    .active_sidebar {
        left: 0;
        box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
        background-color: #f7faff;
    }
}

.sidebar .logo {
    margin: 30px;
    background: white;
    padding: 33px 30px;
    border-radius: 7px;
}

.sidebar_close_icon i {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 30px;
    font-size: 25px;
    top: 29px;
    cursor: pointer;
    color: #222;
}

.sidebar #sidebar_menu li a {
    font-size: 18px;
    font-weight: 400;
    color: #676b84;
    padding: 15px 25px 15px 30px;
    background: #fff;
    transition: .3s;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    position: relative;
    background: 0 0;
    text-decoration: none;
}

.sidebar #sidebar_menu li ul li a {
    font-size: 15px;
    color: #676b84;
    font-weight: 400;
    padding: 0;
    white-space: nowrap;
    padding: 0;
    padding: 10px 0!important;
}

.sidemenu .has-arrow {
    position: relative;
}

.sidemenu .has-arrow::after {
    position: absolute;
    content: '';
    transform: rotate(0deg) translate(0,-50%);
    transform-origin: top;
    top: 50%;
    transition: all .3s ease-out;
    right: 40px;
    content: "\2304";
    font-family: themify;
    color: #a5adc6;
    font-weight: 600;
    font-size: 20px;
}

.sidemenu .mm-active>.has-arrow::after, .sidemenu .has-arrow[aria-expanded=true]::after {
    transform: rotate(180deg) translate(0,-50%);
}

.sidebar #sidebar_menu li ul {
    padding: 0 0 0 70px;
}

.sidemenu .mm-collapse:not(.mm-show) {
    display: none;
}

/* main body css */

.main_content {
    padding-left: 320px;
    width: 100%;
    padding-top: 0!important;
    transition: .5s;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .main_content{
        padding: 120px 0 100px;
    }
}

@media (max-width: 991px){
    .main_content {
        padding: 90px 0 100px;
    }
}

/* css for the header bar content */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .header_inner{
        margin: 0 10px;
    }
}

@media (max-width: 991px){
    .header_inner {
        padding: 20px;
        margin: 0;
    }
}

.header_inner {
    background-color: #fff;
    /* position: fixed; */
    top: 0;
    z-index: 99;
    padding: 30px;
    position: relative;
    margin: 27px 30px;
    border-radius: 7px;
}

.sidebar_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: auto;
    left: 20px;
}

.sidebar_icon i {
    font-size: 20px;
}

.ti-menu {
    background-color: white;
    padding: 10px 15px;
    border: none;
}


/* css for search bar */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .header_inner .search_field-area {
        width: auto;
        margin-right: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .header_inner .search_field-area {
        width: auto;
        left: 40px;
    }
}

.search_field-area {
    width: 480px;
    position: relative;
}

.header_inner .search_field-area {
    width: auto;
    margin-right: 70px;
    left: 40px;
    padding-left: 20px;
}

.search_field-area .search_inner input {
    color: #000;
    font-size: 17px;
    height: 60px;
    width: 100%;
    padding-left: 82px;
    border: 0;
    padding-right: 15px;
    border-bottom: 1px solid #f4f7fc;
    background: #f7faff;
    border-radius: 30px;
}

.search_field-area .search_inner button {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: 0 0;
    font-size: 12px;
    border: 0;
    padding-left: 40px;
    padding-right: 11px;
}

.main_content .main_content_iner {
    min-height: 68vh;
    transition: .5s;
    margin: 9px;
}

/* css for logout design */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 30px 30px 20px;
    right: 0;
}
.out{
    text-decoration: none;
}

.dropdown:hover .dropdown-content {display: block;}

/* css for main body dashboard */
.main_body{
    padding-top: 30px;
    background-color: white;
    border-radius: 6px;
}

.single-form{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 57px;
}

.page-pointer{
    cursor: pointer;
}

.download{
    cursor: pointer;
    padding-right: 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: none;
}

table{
    table-layout: fixed;
    width: 100%;
}

/* add animal css */

#reveal-if-cat, #reveal-if-dog{
    display: none;
}
#catradio:checked ~ #reveal-if-cat{
    display: block;
}
#dogradio:checked ~ #reveal-if-dog{
    display: block;
}

input[type=radio]:after {
    width: 15px;
    height: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
}

.statyes input[type=radio]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: green;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.statno input[type=radio]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


.more-information{
    display: flex;
    justify-content: space-between;
}

.more-information-content{
    font-weight: bold;
    text-decoration: none;
    -webkit-text-fill-color: #000;
}

.clr{
    background-color: aliceblue;
}

.statlow input[type=radio]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: limegreen;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.statmed input[type=radio]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: orange;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.stathigh input[type=radio]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.row-fix{
    padding: 5px 25px;
}

.count-animal1{
    padding: 15px 15px;
    background-color: #c1f110;
}
.count-animal1:hover{
    background-color: #3b76ef;
}

.count-animal2{
    padding: 15px 15px;
    background-color: #63c7ff;
}
.count-animal2:hover{
    background-color: #3b76ef;
}

.count-animal3{
    padding: 15px 15px;
    background-color:   #b98edb;
}
.count-animal3:hover{
    background-color: #3b76ef;
}

.count-animals1{
    padding: 15px 15px;
    background-color: #2dc657;
}

.count-animals2{
    padding: 15px 15px;
    background-color: #cb72c1;
}

.count-animals3{
    padding: 15px 15px;
    background-color: #2cd5ab;
}

.count-animals4{
    padding: 15px 15px;
    background-color: #c3c02f;
}

.incard{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.ribbon {
    /* width: 48%; */
    height: 50px;
    position: relative;
    float: left;
    margin-bottom: 30px;
    background-size: cover;
    text-transform: uppercase;
    color: white;
}

@media (max-width: 500px) {
    .ribbon {
        width: 100%;
    }
    .ribbon:nth-child(even) {
        margin-right: 0%;
    }
}

.ribbon3 {
    /* width: 150px; */
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    position: absolute;
    left: -8px;
    top: 20px;
    background: #59324C;
}
.ribbon3:before, .ribbon3:after {
    content: "";
    position: absolute;
}
.ribbon3:before {
    height: 0;
    width: 0;
    top: -8.5px;
    left: 0.1px;
    border-bottom: 9px solid black;
    border-left: 9px solid transparent;
}
.ribbon3:after {
    height: 0;
    width: 0;
    right: -14.5px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid #59324C;
}

.chart{
    width: 250px;
}

.filter{
    display: flex;
    justify-content: space-between;
}

.additems{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

/* pagination buttons css */

.paginationBttns{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #0d6efd;
    color: #0d6efd;
    cursor: pointer;
}

.paginationBttns a:hover{
    color: white;
    background-color: #0d6efd;
}

.paginationActive a{
    color: white;
    background-color: #0d6efd;
}

.previousBttn{
    text-decoration: none;
}
.nextBttn{
    text-decoration: none;
}

.fs{
    font-size: xxx-large;
    width: 54px;
    height: 54px;
    line-height: 54px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: red
}